name: Publish to NPM
on:
  release:
    types: [created]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # Indispensable pour l'auth sans secret

    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          # J'ai RETIRÉ 'registry-url' ici car il force la création d'un .npmrc 
          # qui attend un token classique, ce qui cause ton bug.

      - run: npm ci
      
      # J'ai RETIRÉ le bloc 'env' avec le token secret. 
      # Grâce à '--provenance' et 'id-token: write', npm va s'authentifier tout seul via OIDC.
      - run: npm publish --provenance --access public